name: Pylint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    strategy:
      matrix:
        python-version: ["3.14.0-rc.1"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up uv
      uses: astral-sh/setup-uv@v3
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
        enable-cache: true
    - name: Install dependencies
      run: |
        uv sync --frozen --dev
    - name: Analysing the code with pylint
      run: |
        PYTHONPATH=. uv run pylint --fail-under 7 --max-line-length=150 --disable=W1203,R0903 $(git ls-files '*.py')
    - name: Set pythonpath
      run: |
        echo "PYTHONPATH=." >> $GITHUB_ENV
    - uses: advanced-security/python-lint-code-scanning-action@v1
      with:
        linter: pylint
        options: --max-line-length=150 --disable=W1203,R0903
        python-version: ${{ matrix.python-version }}
