name: Pytest

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.14.0-rc.1"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up uv
      uses: astral-sh/setup-uv@v3
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
        enable-cache: true
    - name: Install dependencies
      run: |
        uv sync --frozen --dev
    - name: Running tests
      run: |
        PYTHONPATH=. uv run coverage run -m pytest tests/
    - name: Code coverage report
      run: |
        PYTHONPATH=. uv run coverage report
    - name: Generate HTML report for code coverage
      run: |
        PYTHONPATH=. uv run coverage html -d output/htmlcov
    - name: Archive output
      uses: actions/upload-artifact@v4
      with:
        name: output
        path: output
